{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
      <h1>Login</h1>
      <hr>
      <div class="form-row">
        <label for="username"><b>Username or Email</b></label>
        <input type="text" placeholder="Enter user name or Email" name="username" id="username">
      </div>
      <div class="form-row">
          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Enter password" name="password" id="password">
      </div>
    </div>
    <div class="form-group">
      <button class="registerbtn" type="submit">Login</button>
    </div>
    <div class="bottom-container">
      <div class="row">
        <div class="col">
          <a class="loginbtn" style="color: white;" href="{% url 'register' %}">Sign up</a>
        </div>
        <div class="col">
          <a class="loginbtn" style="color: white;" href="{% url 'password_reset' %}">Forgot password?</a>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock content %}