{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<style>
.container {
  align-content: center;
}
</style>
{% if user.is_authenticated %}
  <input type="hidden" id="logged-in-user" value="{{ user.id }}">
{% endif %}
<div class="container-fluid" style="height: 750px; margin-bottom: 50px;">
  <div class="row justify-content-center h-100 ">
    <div class="col-md-4 col-xl-3 chat h-100 mt-4">
      <div class="chat_card mb-sm-3 mb-md-0 contacts_card">
        <div class="card-header">
          <div class="input-group">
            <form class="input-group" style="background-color: rgba(255, 255, 255, 0.6); border-radius: 15px;" action="" method="GET">
              <input style="border-radius: 15px;" type="text" placeholder="Search..." name="busqueda" class="form-control search">
              <div class="input-group-prepend">
                <button type="submit" class="input-group-text search_btn" style="margin: 5px 0 0 0;"><i class="fas fa-search"></i></button>
              </div>
            </form>
          </div>
        </div>
        <div class="card-body contacts_body">
          <ul class="contacts">
            {% for thread in Threads %}
              <li class="{% if forloop.first %}active{% endif %} contact-li" chat-id="chat_{{ thread.id }}" style="cursor: pointer">
                <div class="d-flex bd-highlight">
                  <div class="img_cont">
                    {% if thread.first_person == user %}
                      <img src="{{ thread.second_person.profile_pic.url }}" class="rounded-circle user_img" alt="">
                    {% else %}
                      <img src="{{ thread.first_person.profile_pic.url }}" class="rounded-circle user_img" alt="">
                    {% endif %}
                  </div>
                  <div class="user_info">
                    {% if thread.first_person == user %}
                      <span>{{ thread.second_person.username }}</span>
                    {% else %}
                      <span>{{ thread.first_person.username }}</span>
                    {% endif %}
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="card-footer" style="width: 94%;"></div>
      </div>
    </div>
    <div class="col-md-8 col-xl-6 chat h-100 mt-4">
      <div class="chat_card">
        {% for thread in Threads %}
          <div class="messages-wrapper {% if forloop.first %}hide is_active{% else %}hide{% endif %}" chat-id="chat_{{ thread.id }}" other-user-id="
            {% if thread.first_person == user %}
              {{ thread.second_person.id }}
            {% else %}
              {{ thread.first_person.id }}
            {% endif %}">
              <div class="card-header msg_head">
                <div class="d-flex bd-highlight">
                  <div class="img_cont">
                    {% if thread.first_person == user %}
                      <img src="{{ thread.second_person.profile_pic.url }}" class="rounded-circle user_img" alt="">
                    {% else %}
                      <img src="{{ thread.first_person.profile_pic.url }}" class="rounded-circle user_img" alt="">
                    {% endif %}
                  </div>
                  <div class="user_info">
                    {% if thread.first_person == user %}
                      <span><a href="{% url 'profile' thread.second_person.username %}">{{ thread.second_person.username }}</a></span>
                    {% else %}
                      <span><a href="{% url 'profile' thread.first_person.username %}">{{ thread.first_person.username }}</a></span>
                    {% endif %}
                    <p>{{ thread.chatmessage_thread.all.count }} messages</p>
                  </div>
                </div>
              </div>
              <div class="card-body msg_card_body">
                <!------- messages ------->
                {% for chat in thread.chatmessage_thread.all %}
                  {% if chat.user == user %}
                    <div class="d-flex mb-4 replied">
                      <div class="msg_cotainer_send">
                        {{ chat.message }}
                        <span class="msg_time_send">{{ chat.timestamp|date:"d D" }}, {{ chat.timestamp|time:"H:i" }}</span>
                      </div>
                      <div class="img_cont_msg">
                        <img src="{{ user.profile_pic.url }}" class="rounded-circle user_img_msg" alt="">
                        <input type="hidden" id="logged-in-user-pic" value="{{ user.profile_pic.url }}">
                      </div>
                    </div>
                  {% else %}
                    <div class="d-flex mb-4 received">
                      <div class="img_cont_msg">
                        <img src="{{ chat.user.profile_pic.url }}" class="rounded-circle user_img_msg" alt="">
                        <input type="hidden" id="other-user-pic" value="{{ chat.user.profile_pic.url }}">
                      </div>
                      <div class="msg_cotainer">
                        {{ chat.message }}
                        <span class="msg_time">{{ chat.timestamp|date:"d D" }}, {{ chat.timestamp|time:"H:i" }}</span>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
                <!------- messages ------->
              </div>
          </div>
        {% endfor %}
        <div class="card-footer" style="width: 97%;">
          <form id="send-message-form" style="border-radius: 15px;">
            <div class="input-group">
              <div class="input-group-append">
                <span class="input-group-text attach_btn" style="margin: 5px 0 0 0;"></span>
              </div>
              <input type="text" name="" id="input-message" class="form-control type_msg" placeholder="Type your message...">
              <div class="input-group-append" style="margin: 5px 0 0 0;">
                <button class="btn btn-secondary" type="submit">
                  <span class="input-group-text send_btn">
                    <i class="fas fa-location-arrow"></i>
                  </span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/messages.js' %}"></script>

{% endblock content %}