:root {
  --footercolor: #333;
  --navbarcolor: #333;
  --btncolor: #333;
  --socialcolor: #333;
  --brightText: #fff;
}

/* Navigation Bar and Footer */
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 100;
}

#footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.footer-color {
  background-color: var(--footercolor);
}

.navbar-color {
  background-color: var(--navbarcolor);
}

.site-footer .footer-nav .footer-link {
  color: var(--brightText);
}

.site-header .navbar-nav .nav-link {
  color: var(--brightText);
}

.site-header .navbar-nav .nav-link:hover {
  color: black;
  background-color: #ddd;
  border-radius: 10%;
}
  
.site-header .navbar-nav .nav-link.active {
  font-weight: 100;
}

#navbar a.active {
  background-color: #5865f2;
  border-radius: 10%;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* Profile Images */

.aspect-ratio-box {
  position: relative;
}

.aspect-ratio-box::after {
  display: block;
  content: '';
  padding-bottom: 56.25%;
}

.aspect-ratio-box img {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.profile-image {
  width: 125px;
  height: 125px;
  padding: 5px;
  object-fit: cover;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 16px;
  text-align: left;
  margin: auto;
  width: 100%;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.backgroundweb {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border-radius: 6px;
  background: #e9e9e9;
}

/* Login */

.loginbtn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

.loginbtn:hover {
  opacity: 1;
}

.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0 0 4px 4px;
}

/* Botón de registro */

.registerbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Campos de entrada de formularios */

input[type=text],
input[type=file],
input[type=password],
input[type=date],
input[type=number],
textarea,
select,
form {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 15px;
}

input[type=text],
input[type=file],
input[type=password],
input[type=date],
input[type=number],
textarea,
select,
form:focus {
  background-color: #ddd;
  outline: none;
}

input[type=checkbox] {
  background-color: #eee;
  border-radius: 10px;
  width: 20px;
  height: 20px;
}

/* Links azules */

a {
  color: dodgerblue;
}

/* Imagen en blanco y negro */

#disconnected {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
 
/* Colores letras de logos */

#discords {
  color: #5865f2;
}

#riots {
  color: #d22a36;
}

#steams {
  color: #144b7e;
}

#epics {
  color: #2f2d2e;
}

/* Efecto acordeón menús */

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion::after {
  content: '\02795';
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active::after {
  content: "\2796";
}

/* Efecto parpadeo status */

.parpadea { 
  animation-name: parpadeo;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: parpadeo;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
  0% { opacity: 1; }
  50% { opacity: 0.1; }
  100% { opacity: 1; }
}

@-webkit-keyframes parpadeo {
  0% { opacity: 1; }
  50% { opacity: 0.1; }
  100% { opacity: 1; }
}

@keyframes parpadeo {
  0% { opacity: 1; }
  50% { opacity: 0.1; }
  100% { opacity: 1; }
}

/* Editar perfil */

.editprofilebtn {
  width: auto;
  border: none;
  padding: 12px;
  background-color: rgb(58, 58, 58);
  color: white;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  font-size: 17px;
  line-height: 20px;
  float: right;
  margin-right: 8%;
}

.editprofilebtn:hover {
  opacity: 1;
}

.rueda {
  animation-play-state: paused;
}

.rueda:hover {
  animation-play-state: running;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.cancelbtn {
  width: auto;
  border: none;
  padding: 12px;
  background-color: #f44336;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}

.cancelbtn:hover {
  opacity: 1;
}

.updatebtn {
  width: auto;
  border: none;
  background-color: #04aa6d;
  color: white;
  padding: 12px;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}

.updatebtn:hover {
  opacity: 1;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.modal {
  display: none;
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5px auto;
  border: 1px solid #888;
  width: 60%;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from { -webkit-transform: scale(0); }
  to { -webkit-transform: scale(1); }
}

@keyframes animatezoom {
  from { transform: scale(0); }
  to { transform: scale(1); }
}

/* Profile game */

.gameimages {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 1%;
  margin-bottom: 2%;
  border-radius: 5px;
}

.addgamebtn {
  width: auto;
  border: none;
  background-color: #04aa44;
  color: white;
  padding: 12px;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  font-size: 17px;
  line-height: 20px;
  float: right;
  margin-right: 8%;
}

.imgbackgame {
  width: 80%;
  height: 10%;
  border-radius: 10px;
}

.imgbackgame__overlay {
  position: absolute;
  top: 0;
  right: 10%;
  width: 80%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  border-radius: 10px;
}

.imgbackgame__overlay--blur {
  backdrop-filter: blur(5px);
}

.imgbackgame__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.imgbackgame__overlay:hover {
  opacity: 1;
}

.imgbackgame__overlay:hover > * {
  transform: translateY(0);
}

.imgtitlegame {
  font-size: 2em;
  font-weight: bold;
}

/* Clan */

.clan_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  max-height: 500px;
  margin: auto;
  text-align: center;
  display: flex;
}

.title {
  color: grey;
  font-size: 18px;
}

.grid-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

a.hover {
  border-bottom: white;
}

/* Tarjetas */

.user_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-height: 100px;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  grid-template-columns: repeat(7, 1fr);
}

.user_card_item {
  list-style: none;
  padding: 5px;
}

/* Página de chat */
.chat {
  margin-top: auto;
  margin-bottom: auto;
}

.chat_card {
  height: 100%;
  border-radius: 15px !important;
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.contacts_body {
  padding: 0.75rem 0 !important;
  overflow-y: auto;
  white-space: nowrap;
}

.msg_card_body {
  overflow-y: auto;
  max-height: 65%;
  padding-bottom: 20px;
}

.card-header {
  border-radius: 15px 15px 0 0 !important;
  border-bottom: 0 !important;
}

.card-footer {
  border-radius: 0 0 15px 15px !important;
  border-top: 0 !important;
  bottom: 0;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}

.search {
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
}

.search:focus {
  box-shadow: none !important;
  outline: 0 !important;
}

.type_msg {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  height: 60px !important;
  overflow-y: auto;
}

.type_msg:focus {
  box-shadow: none !important;
  outline: 0 !important;
}

.attach_btn {
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}

.send_btn {
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}

.search_btn {
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  border: 0 !important;
  color: white !important;
  cursor: pointer;
}

.contacts {
  list-style: none;
  padding: 0;
}

.contacts li {
  width: 100% !important;
  padding: 5px 10px;
  margin-bottom: 15px !important;
}

.active {
  background-color: rgba(0, 0, 0, 0.3);
}

.user_img {
  height: 70px;
  width: 70px;
  border: 1.5px solid #f5f6fa;
  object-fit: cover;
}

.user_img_msg {
  height: 40px;
  width: 40px;
  border: 1.5px solid #f5f6fa;
}

.img_cont {
  position: relative;
  height: 70px;
  width: 70px;
}

.img_cont_msg {
  height: 40px;
  width: 40px;
}

.user_info {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}

.user_info span {
  font-size: 20px;
  color: white;
}

.user_info p {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.6);
}

.msg_cotainer {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 25px;
  background-color: #82ccdd;
  padding: 10px;
  position: relative;
  min-width: 70px;
  text-align: center;
}

.msg_cotainer_send {
  min-width: 70px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  border-radius: 25px;
  background-color: #78e08f;
  padding: 10px;
  position: relative;
}

.msg_time {
  position: absolute;
  left: 0;
  bottom: -15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
}

.msg_time_send {
  position: absolute;
  right: 0;
  bottom: -15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
}

.msg_head {
  position: relative;
}

@media (max-width: 576px) {
  .contacts_card {
    margin-bottom: 15px !important;
  }
}

.received {
  justify-content: flex-start;
}

.replied {
  justify-content: flex-end;
}

.is_active {
  display: block !important;
}

.hide {
  display: none;
}

.msg_card_body::-webkit-scrollbar {
  display: none;
}

.msg_card_body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.messages-wrapper {
  height: 100%;
}

/* Paginacion */
.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination a.activepage {
  background-color: dodgerblue;
  color: white;
  text-decoration: none;
}

.pagination a:hover:not(.activepage) {
  background-color: #ddd;
  text-decoration: none;
}
