:root {
    --footercolor: #003F72;
    --navbarcolor: #003F72;
    --btncolor: #003F72;
    --socialcolor: #003F72;
    --brightText: #ffffff;
}

.navbar-color {
    background-color: var(--navbarcolor);
}

.site-header .navbar-nav .nav-link {
    color: var(--brightText);
}
  
.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10%;
}
  
.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.aspect-ratio-box {
  position: relative;
}

.aspect-ratio-box::after{
  display: block;
  content: '';
  /* 16:9 aspect ratio, 9 / 16 * 100% = 56.25% */
  padding-bottom: 56.25%;
}

.aspect-ratio-box img {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.profile-image {
  width: 125px;
  height: 125px;
  padding: 5px;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

* {box-sizing: border-box}

.container {
  padding: 16px;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.backgroundweb {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border-radius: 6px;
  background: #e9e9e9;
}

/* Login */

.loginbtn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

.loginbtn:hover {
  opacity: 1;
}

.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}

/* Botón de registro */

.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Campos de entrada de formularios */

input[type=text], input[type=file], input[type=password], input[type=date], select, form{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text], input[type=file], input[type=password], input[type=date], select, form:focus {
  background-color: #ddd;
  outline: none;
}

/* Links azules */

a {
  color: dodgerblue;
}

/* Imagen en blanco y negro */

#disconnected {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
 
/* Colores letras de logos */

#discords {
  color: #5865F2;
}

#riots {
  color: #d22a36;
}

#steams {
  color: #144B7E;
}

#epics {
  color: #2f2d2e;
}

/* Efecto acordeón menús */

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '\02795';
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}

/* Efecto parpadeo status */

.parpadea {
  
  animation-name: parpadeo;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.1; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.1; }
  100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.1; }
  100% { opacity: 1.0; }
}

/* Editar perfil */

.editprofilebtn {
  width: auto;
  border: none;
  padding: 10px 18px;
  background-color: rgb(58, 58, 58);
  color: white;
  padding: 12px;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  font-size: 17px;
  line-height: 20px;
  float: right;
  margin-right: 8%;
}

.editprofilebtn:hover {
  opacity: 1;
}

.rueda {
  animation-play-state: paused;
}

.rueda:hover {
  animation-play-state: running;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.cancelbtn {
  width: auto;
  border: none;
  padding: 10px 18px;
  background-color: #f44336;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}

.cancelbtn:hover {
  opacity: 1;
}

.updatebtn {
  width: auto;
  border: none;
  padding: 10px 18px;
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}

.updatebtn:hover {
  opacity: 1;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Profile game */

.gameimages{
  display: flex; 
  justify-content: center; 
  position: relative;
  margin-top: 1%;
  margin-bottom: 2%;
  border-radius: 5px;
}

.addgamebtn {
  width: auto;
  border: none;
  padding: 10px 18px;
  background-color: #04aa44;
  color: white;
  padding: 12px;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  font-size: 17px;
  line-height: 20px;
  float: right;
  margin-right: 8%;
}

.imgbackgame {
  width: 80%;
  height: 10%;
  border-radius: 10px;
}

.imgbackgame__overlay {
  position: absolute;
  top: 0;
  right: 10%;
  width: 80%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  border-radius: 10px;
}

.imgbackgame__overlay--blur {
  backdrop-filter: blur(5px);
}


.imgbackgame__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.imgbackgame__overlay:hover {
  opacity: 1;
}

.imgbackgame__overlay:hover > * {
  transform: translateY(0);
}

.imgtitlegame {
  font-size: 2em;
  font-weight: bold;
}