{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<div class="form-group">
    <h1 style="display: block; text-align: center;">Clans</h1>
    {% if gamer.clan == null %}
    <button style="float: right; margin-right: 8%; display: block;" class="updatebtn" type="button" onclick="document.getElementById('id01').style.display='block'">Create clan</button>
    {% endif %}
</div>
<hr>
<div class="container row" style="display: inline;">
    <form method="POST" style="border-radius: 10px;" action="">
        {% csrf_token %}
        <input type="text" placeholder="Buscar clan..." id="busqueda" name="busqueda">
        <button class="btn btn-primary mb-3" type="submit" style="border-radius: 12px;" name="search">
            Buscar
        </button>
    </form>
</div>
<hr>
<div id="id01" class="modal">
    <form method="POST" enctype="multipart/form-data" class="modal-content animate">
        {% csrf_token %}
        <div class="container form-group">
            <button type="button" class="accordion">Clan Information</button>
            <div class="panel">
                <div class="form-row">
                    <label for="name"><b>Name</b></label>
                    <input type="text" placeholder="Enter name" name="name" id="name"
                        value="{{form2.instance.name}}">
                </div>
                <div class="form-row">
                    <label for="description"><b>Description</b></label>
                    <input type="text" placeholder="Enter description" name="description" id="description"
                        value="{{form2.instance.description}}">
                </div>
            </div>
            <input type="hidden" id="leader" name="leader" value=" {{ gamer.user.username }} ">
            <div class="container" style="background-color: #f1f1f1;">
                <button class="updatebtn" name="btnform2" type="submit">Update</button>
                <button type="button" onclick="document.getElementById('id01').style.display='none'"
                    class="cancelbtn">Cancel</button>
            </div>
        </div>
    </form>
</div>
<div class="container">
    <div class="col-md-6">
        <div class="grid-wrapper">
            {% for clan, members in clans %}
                <div class="user_card" style="margin-bottom: 8px;">
                    <div class="row" style="padding: 10px;">
                        <div class="col">
                            <img class="rounded-circle user_img" src="{{ clan.profile_pic.url }}">
                        </div>
                        <div class="col" style="margin-top: 3%;">
                            <h2><a href="{% url 'clan' clan.name %}" style="color: black; text-decoration: none;">{{ clan.name }}</a></h2>
                        </div>
                        <div class="col" style="margin-top: 3%;">
                            <h2><i class="fas fa-user-group" style="margin-right: 5px;"></i>{{ members }}</h2>
                        </div>
                        <div class="col">
                            <h2 style="margin-top: -5%;">
                                <a href="{% url 'profile' clan.leader %}" style="color: black; text-decoration: none;">
                                    <i class="fas fa-crown"></i>
                                    <span class="ml-2">{{ clan.leader }}</span>
                                </a>
                            </h2>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
    
<script type="text/javascript" src="{% static 'js/accordion.js' %}"></script>

{% endblock content %}