{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

<div class="content-section col-lg-12 col-md-12 col-sm-12 tutorial-style" style="min-height:65vh;">
    <div class="form-group">
        <h2 style="display: inline-block;">Clan Information</h2>
        {% if user.username == clan.leader %}
        <button class="editprofilebtn" type="button" onclick="document.getElementById('id01').style.display='block'"><i
                class="fa fa-cog fa-spin rueda"></i></button>
        {% endif %}
    </div>
    <hr>
    <div class="backgroundweb">
        <div class="media">
            <img class="rounded-circle account-img profile-image" src="{{ clan.profile_pic.url }}">
            <div class="media-body">
                <p class="text-secondary">{{ clan.name }}</p>
                <p class="text-secondary">{{ clan.description }}</p>
                <p class="text-secondary">{{ clan.join_date }}</p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <h2 style="display: inline-block">Clan Information</h2>
        {% if gamer.clan == null %}
            <form method="POST" style="display: none;" enctype="multipart/form-data" id="joinform">
                {% csrf_token %}
                <input type="hidden" id="clan" name="clan" value="{{ clan.id }}">
            </form>
            <button style="float: right; margin-right: 8%;" class="updatebtn" form="joinform" name="joinclan" type="submit" ><iclass="fa fa-circle-plus"></i>Join</button>
        {% endif %}
        {% if gamer.clan == clan %} 
            <form method="POST" style="display: none;" enctype="multipart/form-data" id="exitform">
                {% csrf_token %}
                <input type="hidden" id="clan" name="exitclan" value="">
            </form>
            <button class="cancelbtn" style="float: right; margin-right: 8%;" form="exitform" name="exitclan" type="submit" ><iclass="fa fa-circle-plus"></i>Abandone</button>
        {% endif %}
    </div>

    {% if user.username == clan.leader %}

        <div id="id01" class="modal">
            <form method="POST" enctype="multipart/form-data" class="modal-content animate">
                {% csrf_token %}
                <div class="container form-group">
                    <div class="imgcontainer">
                        <input id="id_image" type="file" name="profile_pic" hidden />
                        <label for="id_image">
                            <img class="rounded-circle account-img profile-image" style="cursor: pointer"
                                src="{{ form2.instance.profile_pic.url }}" title="Upload new image">
                        </label>
                    </div>
                    <button type="button" class="accordion">Edit Clan Information</button>
                    <div class="panel">
                        <div class="form-row">
                            <label for="name"><b>Name</b></label>
                            <input type="text" placeholder="Enter name" name="name" id="name"
                                value="{{form2.instance.name}}">
                        </div>
                        <div class="form-row">
                            <label for="description"><b>Description</b></label>
                            <input type="text" placeholder="Enter description" name="description" id="description"
                                value="{{form2.instance.description}}">
                        </div>
                    </div>
                    <input type="hidden" id="leader" name="leader" value=" {{ gamer.user.username }} ">
                    <div class="container" style="background-color: #f1f1f1;">
                        <button class="updatebtn" name="btnform2" type="submit">Update</button>
                        <button type="button" onclick="document.getElementById('id01').style.display='none'"
                            class="cancelbtn">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
        {% endif %}
    
    <hr>
    <div class="grid-wrapper container" style="width: 75%;">
        {% for member in members %}
        <div class="card">
            <img style="width: 100%; max-height: 100%;" src="{{ member.user.profile_pic.url }}">
            <h1><a href="{% url 'profile' member %}" style="color: black; text-decoration: none;">{{ member.user.username }}</a></h1>
        </div>
        {% endfor %}
    </div>
</div>

<script type="text/javascript" src="{% static 'js/accordion.js' %}"></script>

{% endblock content %}