{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

    <div class="grid-wrapper container" style="width: 100%;">
        {% for clan in clans %}
        <div class="card">
            <img style="width: 100%; max-height: 100%;" src="{{ clan.profile_pic.url }}">
            <h1><a href="{% url 'clan' clan.name %}" style="color: black; text-decoration: none;">{{ clan.name }}</a></h1>
            <p>Leader: <a href="{% url 'profile' clan.leader %}">{{ clan.leader }}</a></p>
            <p>Created: {{ clan.join_date }}</p>
        </div>
        {% endfor %}
    </div>
    
{% endblock content %}