{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

{% if solicitudes != None %}
    <div class="form-group">
        <h2 style="display: block; text-align: center;">Friend requests received ({{solicitudes|length}})</h2>
        <hr>
    </div>
    <div class="container" style="width: 100%;">
        <div class="col-md-6">
            <div class="row">
                {% for solicitud in solicitudes %}
                    <div style="display: inline;">
                        <div class="grid-wrapper">
                            <div class="user_card" style="margin-bottom: 8px; width: 100%;">
                                <div class="row" style="padding: 10px;">
                                    <div class="col">
                                        <img class="rounded-circle user_img" src="{{ solicitud.sender.user.profile_pic.url }}" alt="">
                                    </div>
                                    <div class="col" style="margin-top: 2%;">
                                        <h2><a href="{% url 'profile' solicitud.sender.user %}" style="color: black; text-decoration: none;">{{ solicitud.sender.user.username }}</a></h2>                
                                    </div>
                                    <div class="col" style="margin-top: 1%;">
                                        <button type="submit" class="addgamebtn" name="accept" form="friendrequest"><i class="fa fa-check"></i> Accept</button>
                                    </div>
                                    <div class="col" style="margin-top: 1%;">
                                        <button type="submit" class="cancelbtn" name="decline" form="friendrequest"><i class="fa fa-xmark"></i> Decline</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form method="POST" id="friendrequest" style="display: none;">
                        {% csrf_token %}
                        <input type="hidden" name="solicitud" id="solicitud" value="{{solicitud.id}}">
                    </form>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
<div class="form-group">
    <h2 style="display: block; text-align: center;">Friends ({{amigos|length}})</h2>
    <hr>
</div>
<div class="container" style="width: 100%;">
    {% for amigo in amigos %}
        <div style="display: inline;">
            {% if amigo.sender.user == user %}
            <div class="grid-wrapper">
                <div class="user_card" style="margin-bottom: 8px; width: 100%;">
                    <div class="row" style="padding: 10px;">
                        <div class="col-md-3">
                            <img class="rounded-circle user_img" src="{{ amigo.receiver.user.profile_pic.url }}" alt="">
                        </div>
                        <div class="col-md-3" style="margin-top: 2%;">
                            <h2><a href="{% url 'profile' amigo.receiver.user %}" style="color: black; text-decoration: none;">{{ amigo.receiver.user.username }}</a></h2>                
                        </div>
                        <div class="col-md-6" style="margin-top: 1%;">
                            <button type="submit" class="cancelbtn" name="remove" form="friendrequest"><i class="fa fa-xmark"></i> Eliminar amigo</button>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="grid-wrapper col-md-6">
                <div class="user_card" style="margin-bottom: 8px; width: 100%;">
                    <div class="row" style="padding: 10px;">
                        <div class="col-md-3">
                            <img class="rounded-circle user_img" src="{{ amigo.sender.user.profile_pic.url }}" alt="">
                        </div>
                        <div class="col-md-3" style="margin-top: 2%;">
                            <h2><a href="{% url 'profile' amigo.sender.user %}" style="color: black; text-decoration: none;">{{ amigo.sender.user.username }}</a></h2>                
                        </div>
                        <div class="col-md-6" style="margin-top: 1%;">
                            <button type="submit" class="cancelbtn" name="remove" form="friendrequest"><i class="fa fa-xmark"></i> Eliminar amigo</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <form method="POST" id="friendrequest" style="display: none;">
                {% csrf_token %}
                <input type="hidden" name="solicitud" id="solicitud" value="{{amigo.id}}">
            </form>
        </div>
    {% endfor %}
</div>
{% endblock content %}