{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

<div class="form-group">
    <h2 style="display: inline-block; margin-left: 8%;">Solicitudes de amistad recibidas</h2>
    <hr>
</div>
<div class="container" style="width: 100%;">
    {% for solicitud in solicitudes %}
        <div style="display: inline;">
            <p>Solicitud de <a href="{% url 'profile' solicitud.sender %}" style="text-decoration:underline;">{{solicitud.sender}}</a></p>
            <button type="submit" class="addgamebtn" name="accept" form="friendrequest"><i class="fa fa-check"></i></button>
            <button type="submit" class="cancelbtn" name="decline" form="friendrequest"><i class="fa fa-xmark"></i></button>
            <form method="POST" id="friendrequest" style="display: none;">
                {% csrf_token %}
                <input type="hidden" name="solicitud" id="solicitud" value="{{solicitud.id}}">
            </form>
        </div>
    {% endfor %}
</div>
<div class="form-group">
    <h2 style="display: inline-block; margin-left: 8%;">Amigos</h2>
    <hr>
</div>
<div class="container" style="width: 100%;">
    {% for amigo in amigos %}
        <div style="display: inline;">
            {% if amigo.sender == user.username %}
                <p>{{amigo.receiver}}</p>
            {% else %}
            <p><a href="{% url 'profile' amigo.sender %}" style="text-decoration:underline;">{{amigo.sender}}</a></p>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock content %}