{% extends "base_generic.html" %}

{% block content %}

<div class="form-group">
  <h2 style="display: inline-block; margin-left: 8%;">Home</h2>
</div>
<hr>
<div class="container">
  <div style="right: 2px; float: left; width: 50%;">
    <p>Recommended players</p>
    <hr>
    <div class="grid-wrapper">
      {% for user in users %}
      <div class="card">
        <img style="width: 100%; max-height: 100%;" src="{{ user.profile_pic.url }}">
        <h1><a href="{% url 'profile' user %}" style="color: black; text-decoration: none;">{{ user.username }}</a></h1>
      </div>
      {% endfor %}
  </div>

  </div>

  <div style="left: 2px; float: right; width: 50%;">
    <p>Clans</p>
    <hr>
    <div class="grid-wrapper">
      {% for clan in clans %}
      <div class="card">
        <img style="width: 100%; max-height: 100%;" src="{{ clan.profile_pic.url }}">
        <h1><a href="{% url 'clan' clan.name %}" style="color: black; text-decoration: none;">{{ clan.name }}</a></h1>
      </div>
      {% endfor %}
  </div>
  </div>

</div>

{% endblock %}