{% extends "base_generic.html" %}

{% block content %}

<div class="container">

  <div class="col" style="width: 50%; right: 2px;">
    <p>Recommended players</p>
    <hr>
    <div class="backgroundweb">
      {% for user in users %}
      <p>{{ user }}</p>
      {% endfor %}
    </div>

  </div>

  <div class="col" style="width: 50%; left: 2px;">
    <p>Clans</p>
    <hr>
    <div class="backgroundweb">
      {% for clan in clans %}
      <p>{{ clan }}</p>
      {% endfor %}
    </div>
  </div>

</div>

{% endblock %}