{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<div class="content-section col-lg-12 col-md-12 col-sm-12 tutorial-style" style="min-height:65vh;">
    <div class="form-group">
        <h2 style="display: inline-block;">Profile Information</h2>
        {% if user.username == form.instance.username %}
        <button class="editprofilebtn" type="button" onclick="document.getElementById('id01').style.display='block'"><i
                class="fa fa-cog fa-spin rueda"></i></button>
        {% endif %}
    </div>
    <hr>
    <div class="backgroundweb">
        <div class="media">
            {% if form.instance.is_online %}
            <img class="rounded-circle account-img profile-image" src="{{ form.instance.profile_pic.url }}">
            {% else %}
            <img class="rounded-circle account-img profile-image" id="disconnected"
                src="{{ form.instance.profile_pic.url }}">
            {% endif %}
            <div class="media-body">
                <h2 class="account-heading" style="display: inline-block;">{{ form.instance.username }}
                    {% if form.instance.is_online %}
                    <small class="text-success parpadea">(Online)</small>
                    {% else %}
                    <small class="text-danger parpadea">(Offline)</small>
                    {% endif %}
                </h2>
                <p class="text-secondary">{{ form.instance.first_name }} {{ form.instance.last_name }}</p>
                <p class="text-secondary">{{ form.instance.email }}</p>
                <p class="text-secondary">{{ form.instance.get_language_display }}</p>
            </div>
            <div class="media-body">
                <h4 class="text" id="discords"> <img src="{% static 'img/discord.png' %}" width="3.5%" height="3.5%"
                        alt="discord" /> {{ form2.instance.discord }}</h4>
                <h4 class="text" id="steams"> <img src="{% static 'img/steam.png' %}" width="3.5%" height="3.5%"
                        alt="steam" /> {{ form2.instance.steam }}</h4>
                <h4 class="text" id="epics"> <img src="{% static 'img/epicgames.png' %}" width="3.5%" height="3.5%"
                        alt="epic_games" /> {{ form2.instance.epic_games }}</h4>
                <h4 class="text" id="riots"> <img src="{% static 'img/riotgames.png' %}" width="3.5%" height="3.5%"
                        alt="riot_games" /> {{ form2.instance.riot_games }}</h4>
            </div>
        </div>

        {% if user.username == form.instance.username %}

        <div id="id01" class="modal">
            <form method="POST" enctype="multipart/form-data" class="modal-content animate">
                {% csrf_token %}
                <div class="container form-group">
                    <div class="imgcontainer">
                        <input id="id_image" type="file" name="profile_pic" hidden />
                        <label for="id_image">
                            <img class="rounded-circle account-img profile-image" style="cursor: pointer"
                                src="{{ form.instance.profile_pic.url }}" title="Upload new image">
                        </label>
                    </div>
                    <button type="button" class="accordion">Edit Profile Information</button>
                    <div class="panel">
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-0">
                                <label for="first_name"><b>First Name</b></label>
                                <input type="text" placeholder="Enter first name" name="first_name" id="first_name"
                                    value="{{form.instance.first_name}}">
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                <label for="last_name"><b>Last Name</b></label>
                                <input type="text" placeholder="Enter last name" name="last_name" id="last_name"
                                    value="{{form.instance.last_name}}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-0">
                                <label for="username"><b>Username</b></label>
                                <input type="text" placeholder="Enter user name" name="username" id="username"
                                    value="{{form.instance.username}}">
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                <label for="email"><b>Email</b></label>
                                <input type="text" placeholder="Enter Email" name="email" id="email"
                                    value="{{form.instance.email}}">
                            </div>
                        </div>
                    </div>

                    <input type="hidden" id="user" name="user" value=" {{ user.id }} ">
                    <input type="hidden" id="is_online" name="is_online" value=" True ">

                    <button type="button" class="accordion">Edit Gamer Information</button>
                    <div class="panel">
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-0">
                                <label for="discord"><b>Discord</b></label>
                                <input type="text" placeholder="Enter discord username#0000" name="discord" id="discord"
                                    value="{{form2.instance.discord}}">
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                <label for="steam"><b>Steam</b></label>
                                <input type="text" placeholder="Enter steam username" name="steam" id="steam"
                                    value="{{form2.instance.steam}}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-0">
                                <label for="epic_games"><b>Epic Games</b></label>
                                <input type="text" placeholder="Enter Epic Games username" name="epic_games"
                                    id="epic_games" value="{{form2.instance.epic_games}}">
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                <label for="riot_games"><b>Riot Games</b></label>
                                <input type="text" placeholder="Enter Riot Games username" name="riot_games"
                                    id="riot_games" value="{{form2.instance.riot_games}}">
                            </div>
                        </div>
                    </div>
                    <div class="container" style="background-color: #f1f1f1;">
                        <button class="updatebtn" name="btnform1" type="submit">Update</button>
                        <button type="button" onclick="document.getElementById('id01').style.display='none'"
                            class="cancelbtn">Cancel</button>
                        <span class="psw"><a class="loginbtn" style="color: blue;"
                                href="{% url 'password_reset' %}">Forgot password?</a></span>
                    </div>
                </div>
            </form>
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        <h2 style="display: inline-block">Games Information</h2>
        {% if user.username == form.instance.username and gameships.count < 7 %} <button class="addgamebtn"
            type="button" onclick="document.getElementById('id02').style.display='block'"><i
                class="fa fa-circle-plus"></i></button>
        {% endif %}
    </div>
    <div id="id02" class="modal">
        <form method="POST" enctype="multipart/form-data" class="modal-content animate form-group">
            {% csrf_token %}
            <input type="hidden" id="form3.gamer" name="gamer" value=" {{ user.id }} ">
            <div class="form-group container">
                <label for="game"><b>Game</b></label>
                <select placeholder="Choose game" name="game" id="form3.game">
                    <option value="Null" selected>Choose...</option>
                    {% for game in games %}
                    <option value="{{ game.id }}">{{ game.get_game_name_display }}</option>
                    {% endfor %}
                </select>
                <label for="rank"><b>Rank</b></label>
                <select placeholder="Choose rank" name="rank" id="form3.rank">
                </select>
                <div class="container" style="background-color: #f1f1f1;">
                    <button class="updatebtn" type="submit" name="btnform2">Add</button>
                    <button type="button" onclick="document.getElementById('id02').style.display='none'"
                        class="cancelbtn">Cancel</button>
                </div>
            </div>
        </form>
    </div>
    <hr>
    <div style="display: inline-block;">
        {% for gameship in gameships %}
        <div class="gameimages">
            <img src="{% get_static_prefix %}img/{{gameship.game.game_name}}/{{gameship.game.game_name}}_bck.jpg"
                alt="{{gameship.game.get_game_name_display}}" class="imgbackgame">
            <div class="imgbackgame__overlay imgbackgame__overlay--blur">
                <div class="imgtitlegame">
                    <img src="{% get_static_prefix %}img/{{gameship.game.game_name}}/{{gameship.game.game_name}}.png"
                        alt="{{gameship.game.get_game_name_display}}" width="180px">
                    <hr>
                    <div>
                        {% if gameship.game.competitive %}
                        <h4 style="display: inline-block;"><img src="{% get_static_prefix %}img/{{gameship.game.game_name}}/{{gameship.rank}}.png"
                                width="100px" height="100px" /> {{ gameship.rank }} </h4>
                        {% endif %}
                        {% if user.username == form.instance.username %}
                        <form method="POST" style="background: none; display: inline;" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" id="delete_game" name="gamename" value="{{gameship.game.game_name}}">
                            <button class="cancelbtn" type="submit" name="btndelete">Delete</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script type="text/javascript" src="{% static 'js/accordion.js' %}"></script>

<script>
    $(function () {
        $('select[name="game"]').on('change', function () {
            var name = $(this).val();
            var select_ranks = $('select[name="rank"]');
            var options = '<option value="">Choose...</option>'
            if (name == '') {
                select_ranks.html(options);
                return false;
            }
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    'action': 'search_ranks',
                    'game': name
                },
            }).done(function (data) {
                if (!data.hasOwnProperty('error')) {
                    $.each(data, function (key, value) {
                        options += '<option value="' + value[0] + '">' + value[1] + '</option>'
                    });
                    return false;
                }
                message_error(data.error);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            }).always(function (data) {
                select_ranks.html(options);
            });
        });
    });
</script>
{% endblock content %}