{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<div class="content-section col-lg-12 col-md-12 col-sm-12 tutorial-style" style="min-height:65vh;">
    <legend class="border-bottom mb-4">Profile Information:</legend>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="media">
            {% if user.username == form.instance.username %}
            <input id="id_image" type="file" name="profile_pic" hidden />
            <label for="id_image">
                <img class="rounded-circle account-img profile-image" style="cursor: pointer"
                    src="{{ form.instance.profile_pic.url }}" title="Upload new image">
            </label>
            {% else %}
                {% if form2.instance.get_status_display == 'Online' %}
                    <img class="rounded-circle account-img profile-image" src="{{ form.instance.profile_pic.url }}">
                {% else %}
                    <img class="rounded-circle account-img profile-image" id="disconnected" src="{{ form.instance.profile_pic.url }}">
                {% endif %}
            {% endif %}
            <div class="media-body">
                <h2 class="account-heading">{{ form.instance.username }}
                    {% if form2.instance.get_status_display == 'Online' %}
                    <small class="text-success parpadea">({{ form2.instance.get_status_display }})</small>
                    {% else %}
                    <small class="text-danger parpadea">({{ form2.instance.get_status_display }})</small>
                    {% endif %}
                </h2>
                <p class="text-secondary">{{ form.instance.first_name }} {{ form.instance.last_name }}</p>
                <p class="text-secondary">{{ form.instance.email }}</p>
                <p class="text-secondary">{{ form.instance.get_language_display }}</p>
            </div>
            <div class="media-body">
                <h4 class="text" id="discord"> <img src="{% static 'img/discord.png' %}" width="3.5%" height="3.5%"
                        alt="discord" /> {{ form2.instance.discord }}</h4>
                <h4 class="text" id="steam"> <img src="{% static 'img/steam.png' %}" width="3.5%" height="3.5%"
                        alt="steam" /> {{ form2.instance.steam }}</h4>
                <h4 class="text" id="epic"> <img src="{% static 'img/epicgames.png' %}" width="3.5%" height="3.5%"
                        alt="epic_games" /> {{ form2.instance.epic_games }}</h4>
                <h4 class="text" id="riot"> <img src="{% static 'img/riotgames.png' %}" width="3.5%" height="3.5%"
                        alt="riot_games" /> {{ form2.instance.riot_games }}</h4>
            </div>
        </div>

        {% if user.username == form.instance.username %}
        <button type="button" class="accordion">Edit Profile Information</button>
        <div class="panel">
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.first_name|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.last_name|as_crispy_field }}
                </div>
            </div>
            {{ form.email|as_crispy_field }}

            <a href="{% url 'password_reset' %}">Change password?</a>

            <div class="form-row">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </div>

        <button type="button" class="accordion">Edit Gamer Information</button>
        <div class="panel">
            <div class="form-row">
                <input type="hidden" id="user" name="user" value=" {{ user.id }} ">
                <div class="form-group col-md-6 mb-0">
                    {{ form2.discord|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form2.steam|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form2.epic_games|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form2.riot_games|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </div>

        {% endif %}
    </form>
</div>

<script type="text/javascript" src="{% static 'js/accordion.js' %}"></script>
{% endblock content %}