{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<div class="content-section col-md-12" style="text-align: center;">
  <h2 style="display: inline-block; text-align: center;">Filter</h2>
  <button style="display: inline-block;" class="editprofilebtn" type="button" onclick="document.getElementById('id01').style.display='block'"><i
    class="fa fa-cog fa-spin rueda"></i></button>
  <div id="id01" class="modal form-group">
    <form method="GET" action="{% url 'users' %}" class="row" style="border-radius: 10px; margin-left: 1px;">
      {% csrf_token %}
      <div class="col">
        <h3>Languages</h3>
        <select name="languages" id="languages" style="border-radius: 10px;" multiple>
          {% for val, name in languages %}
            <option value="{{ val }}" {% if val in selected_languages %} selected {% endif %}>
              {{ name }}
            </option>
          {% endfor %}
        </select>
      </div>
      <div class="col">
        <h3>Games</h3>
        <select name="games" id="games" style="border-radius: 10px;" multiple>
          {% for val, name in games %}
            <option value="{{ val }}" {% if val in selected_games %} selected {% endif %}>
              {{ name }}
            </option>
          {% endfor %}
        </select>
      </div>
      <div class="col">
        <h3>Ranks</h3>
        <select name="ranks" id="ranks" style="border-radius: 10px;" multiple>
          {% for val, ranks in ranks %}
            <optgroup label="{{ val }}">
              {% for rank in ranks %}
                <option value="{{ rank }}" {% if rank in selected_ranks %} selected {% endif %}>
                  {{ rank }}
                </option>
              {% endfor %}
            </optgroup>
          {% endfor %}
        </select>
      </div>
      <div class="col">
        <div class="row">
          <h3>Username</h3>
          <input type="text" name="busqueda" id="busqueda" placeholder="Buscar gamer..." style="border-radius: 10px;" {% if busqueda %} value="{{ busqueda }}" {% endif %}>
        </div>
        <div class="row">
          <h3>Verified</h3>
          <input type="checkbox" name="verified" id="verified" {% if verified %} checked {% endif %} style="border-radius: 10px; margin-left: 3%; margin-right: 3%;" value="yes">  
        </div>
        <div class="row">
          <button class="btn btn-primary mb-3" type="submit" name="search" style="border-radius: 12px;">Buscar</button>
          <button class="btn btn-warning mb-3" type="submit" name="restart" style="border-radius: 12px; margin-left: 2px;">Restablecer filtros</button>
          <button type="button" onclick="document.getElementById('id01').style.display='none'" style="border-radius: 12px; margin-left: 2px;" 
            class="btn btn-danger mb-3">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
<hr>
<div class="container">
  {% if recommended == 'yes' %}
    <h3>Suggested users</h3>
  {% endif %}
  <div class="row">
    {% for user, gamer, numjuegos in users %}
      <div class="col-md-6">
        <div class="user_card" style="margin-bottom: 8px; width: 100%;">
          <div class="row" style="padding: 10px;">
            <div class="col">
              <img class="rounded-circle user_img" style="object-fit: cover;" src="{{ user.profile_pic.url }}" alt="">
            </div>
            <div class="col">
              <div class="row">
                <h2 class="d-line"><a href="{% url 'profile' user %}" style="color: black; text-decoration: none;">
                  {% if user.verified %}
                    <i class="fas fa-check-circle d-line" style="color: #1d9bf0; width: 10%;"></i>
                  {% endif %}
                  {{ user.username }}</a>
                </h2>  
              </div>
              <div class="row">
                <div class="col">
                  {% if gamer.discord != '' %}
                    <img src="{% static 'img/discord.png' %}" style="width: 100%;" alt="">
                  {% endif %}
                </div>
                <div class="col">
                  {% if gamer.steam != '' %}
                    <img src="{% static 'img/steam.png' %}" style="width: 100%;" alt="">
                  {% endif %}
                </div>
                <div class="col">
                  {% if gamer.epic_games != '' %}
                    <img src="{% static 'img/epicgames.png' %}" style="width: 100%;" alt="">
                  {% endif %}
                </div>
                <div class="col">
                  {% if gamer.riot_games != '' %}
                    <img src="{% static 'img/riotgames.png' %}" style="width: 100%;" alt="">
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="col" style="margin-top: 0%;">
              {% if numjuegos != 0 %}
                <h2><i class="fas fa-gamepad"></i>{{numjuegos}}</h2>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %} 
  </div>
</div>

<div class="container" style="text-align: center;">
  <div class="pagination">
    {% if page.has_previous %}
      <a href="?page=1{% if selectec_languages %}{% if verified %}&verified={{verified}}{% endif %}{% if recommended %}&recommended={{recommended}}{% endif %}{% for val in selected_languages %}&languages={{val}}{% endfor %}{% endif %}{% if selected_games %}{% for val in selected_games %}&games={{val}}{% endfor %}{% endif %}{% if selected_ranks %}{% for val in selected_ranks %}&ranks={{val}}{% endfor %}{% endif %}{% if busqueda %}&busqueda={{busqueda}}{% endif %}">&laquo; 1 </a>
      {% if page.previous_page_number != 1 %}
      <p>...</p>
        <a href="?page={{ page.previous_page_number }}{% if verified %}&verified={{verified}}{% endif %}{% if recommended %}&recommended={{recommended}}{% endif %}{% if selected_languages %}{% for val in selected_languages %}&languages={{val}}{% endfor %}{% endif %}{% if selected_games %}{% for val in selected_games %}&games={{val}}{% endfor %}{% endif %}{% if selected_ranks %}{% for val in selected_ranks %}&ranks={{val}}{% endfor %}{% endif %}{% if busqueda %}&busqueda={{busqueda}}{% endif %}"> {{ page.previous_page_number }} </a>
      {% endif %}
    {% endif %}

    <a href="#" class="activepage"> {{ page.number }} </a>

    {% if page.has_next %}
      {% if page.next_page_number != page.paginator.num_pages %}
        <a href="?page={{ page.next_page_number }}{% if verified %}&verified={{verified}}{% endif %}{% if recommended %}&recommended={{recommended}}{% endif %}{% if selected_languages %}{% for val in selected_languages %}&languages={{val}}{% endfor %}{% endif %}{% if selected_games %}{% for val in selected_games %}&games={{val}}{% endfor %}{% endif %}{% if selected_ranks %}{% for val in selected_ranks %}&ranks={{val}}{% endfor %}{% endif %}{% if busqueda %}&busqueda={{busqueda}}{% endif %}"> {{ page.next_page_number }} </a>
        <p>...</p>
      {% endif %}
      <a href="?page={{ page.paginator.num_pages }}{% if verified %}&verified={{verified}}{% endif %}{% if recommended %}&recommended={{recommended}}{% endif %}{% if selected_languages %}{% for val in selected_languages %}&languages={{val}}{% endfor %}{% endif %}{% if selected_games %}{% for val in selected_games %}&games={{val}}{% endfor %}{% endif %}{% if selected_ranks %}{% for val in selected_ranks %}&ranks={{val}}{% endfor %}{% endif %}{% if busqueda %}&busqueda={{busqueda}}{% endif %}"> {{ page.paginator.num_pages }} &raquo;</a>
    {% endif %}
  </div>
</div>

{% endblock content %}